* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:25px;

}

body{
    width:100%;
    background-color:rgb(28, 24, 22);

}

row {
    width: 100vw;
}


/* START PAGE HERE*/
.title {
    margin-top: 88px;
}

#top h1{
    
    margin-top: 30px;
    width:80%;
    margin-left:10%;
    font-size: 200%;
    text-align:center;
    font-family: 'Bungee Outline', cursive;
    color: white;
    text-shadow:1px 1px 3px rgba(192, 254, 255, 0.851);
}

#top h2 {
    margin-top:20px;
    width:60%;
    margin-left:20%;
    text-align:center;
    font-size: 100%;
    font-family:'Bungee Outline', cursive;
    color: white;
    text-shadow:1px 1px 3px rgba(192, 254, 255, 0.851);
}

.start-coordinates {
    text-align:center;
}

.start-coordinates a:link, 
.start-coordinates a:visited {
    line-height: 3cm;
    font-size: 150%;
    color: white;
    text-shadow:1px 0 0 red;
    text-align:center;
    text-decoration: none;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}
.start-coordinates a:hover, 
.start-coordinates a:active {
    color:rgb(245, 176, 239);
}


/*First main ridle page - Kakurinji's Bishamonten */

.kakurinji h2,
.kakurinji p {
    color:white;
    text-align:center;
}


.bishamonten {
    background-color:#120e0e;
    color:white;
    padding:30px;
    text-align: center;
}

.bishamonten h4 {
    width:30%;
    margin:1% 35% 1% 35%;
    font-size: 200%;
    text-shadow:1px 0 0 red;
    border:2px solid lightgray;
}

#riddle-bishamonten img{
width: 90vw;
margin-left:auto;
background-size: cover;
}